.Brigadas{
    margin-top: 1.5rem;

    &__images{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;

        img {
            flex:1;
            width: 500px;
            height:  300px;
        }
    }



    ul li{
        list-style-type: '✓  ';
    }
    
    ul li::marker{
        font-weight: 900;
    }

    &__beneficios--adicionales{
        > li{margin-top: 1rem;}
        
        ol{
            margin-top: 1rem;
        }
        ol li{
            
            // list-style-type: 'A';
        }
        
        // ol li::marker{
        //     font-weight: 900;
        // }
    }
}


  
//   ul li:before {
//     // content: '✓';
//     list-style-type: symbols('✓');
//   }