footer{
    // display: flex;
    // flex-direction: column;
    // background-image: linear-gradient(90deg, #0093E9 0%, #e9c600 100%);
    // background-color: #0b4b95;
    color: white;
    // font-size: 2rem;
    // outline: 1px solid salmon; /* a diferencia de border, este no ocupa espacio*/
    // height: 80px;
    // margin: 0px;
    // place-content: space-between; 
    // width: 100%;


    // // .footer > .footer__porta{
    // &__porta{
    //     margin-left: 10px;
    //     text-align: left;
    // }
    // // .footer > .footer__autor {
    // &__autor {
    //     margin-right: 10px;
    //     text-align: right;
    // }
    

}

.container--footer{
    // background-color: linear-gradient(90deg, #0093E9 0%, #e9c600 100%) !important;
    background: linear-gradient(122deg, rgba(11,75,144,1) 49%, rgba(246,164,9,1) 51%);
    // background-color: #0b4b95;
    
}

.container .row {
    color: white;
}

