$mainSize : 40px;
$secondarySize : 32px;
$labelSize : 24px;
$labelSize2 : 18px;
$labelSize3 : 16px;
$labelSize4 : 14px;
$labelSize5: 12px;

$desktopSize : 1280px;
$tabletSize : 880px;
$mobileSize : 380px;