.tituloIconosGrandes {
    position: absolute;
    top: 15%;
    left: -100px;
    color: #004C97;
    font-weight: bold;
}

.tituloIconosGrandes3 {
    position: absolute;
    top: 40%;
    left: -100px;
    color: #004C97;
    font-weight: bold;
}

.tituloIconosGrandes4 {
    position: absolute;
    top: 25%;
    left: -45px;
    font-size: 16px;
}

.tituloIconosGrandes5 {
    position: absolute;
    top: 50%;
    left: -45px;
    font-size: 16px;
}

